/*your custom css goes here*/
.container {
    max-width: 100%!important;
}
#btn_see_all_category{
    background: var(--primary);
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    padding: 3px 15px;
    float: right;
}

.product-category .cate_name {
    color: #5A6F43;
}

.product-category .cate_cell a {
    border: 1px solid #f1f1f1;
}

.product-flash-sale {
    border: 1px solid #ccc;
    margin-left: 0;
    margin-right: 0;
}

.add_to_bag{
    margin-top: 10px;
    text-align: center;
}

.add_to_bag a{
    margin-top: 10px;
    text-align: center;
    border: 1px solid transparent;
    background: var(--primary);
    color: #fff;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 3px;
}

.add_to_bag a:hover{
    border: 1px solid var(--primary);
}

.product-flash-sale .product-cell{
    border: 1px solid #ccc;
    display: inline-block;
    width: calc(16.66% - 10px);
}

#clockdiv{
    font-family: Arial,sans-serif;
    color: white;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

#clockdiv > div{
    padding: 2px;
    border-radius: 1px;
    background: #fff;
    display: inline-block;
}

#clockdiv div > span{
    padding: 5px;
    border-radius: 3px;
    background: #e73a2a;
    display: inline-block;
}

.smalltext{
    padding-top: 15px;
    font-size: 16px;
}

#section_flash_sale .slick-slide .border-light,
#section_today_deal .slick-slide .border-light,
#section_newest .slick-slide .border-light,
#section_newest .slick-slide .border-light,
#section_featured .slick-slide .border-light,
#section_best_selling .slick-slide .border-light {
    border-radius: 10px !important;
    border: 1px solid #f1f1f1 !important;
}

#section_flash_sale {
    background: var(--secondary);
    position: relative;
}

#section_flash_sale .head_flash {
    width: 275px;
    margin: auto;
}

.btn-viewall {
    position: absolute;
    right: 40px;
    top: 20px;
}

.form-preloader {
    position: absolute;
    top: 0;
    left: 0;
}

.aiz-card-box {
    position: relative;
}

#section_best_selling {
    position: relative;
}

#rightCart{
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -50px;
    width: 80px;
    height: 100px;
    background: #fff;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: -2px 0 12px 0 rgb(143 143 143 / 38%);
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}
#rightCart .cart_label{
    padding: 5px 5px;
    text-align: center;
    background: #55584d;
    color:#fdd670;
    font-size: 13px;
    font-weight: bold;
}

.cart_price{
    font-size: 13px;
    padding: 5px 5px;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}
